on init
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    mkdir /mnt/media_rw/sdcard1 0700 media_rw media_rw
    mkdir /storage/sdcard1 0700 root root

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export SECONDARY_STORAGE /storage/sdcard1
    
on early-boot
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0FCE
    write /sys/class/android_usb/android0/idProduct E188
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    exec /system/bin/battery_charging

on post-fs
    #Permission for Lights
    chown system system /sys/class/led/fih_led/control
    chown system system /sys/devices/virtual/graphics/fb0/msmfb_bl0/brightness

    #vibrator
    chown system system /sys/class/vibrator/pmic-vib/control

    #buffer fix
    write /sys/module/msm_fb/parameters/align_buffer 1
    
on emmc-fs
	setprop ro.crypto.fuse_sdcard true
	
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_sdcard1 /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/sdcard1 /storage/sdcard1
    class late_start
    disabled

service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --use_baudrate_for_download --tosleep 20000 --scopcm 0,4,0,0,0,0,0,0,3,0 \
    --no2bytes --baudrate 3000000 --patchram /system/etc/bcm4330/BCM4330B1_002.001.003.0750.0775.hcd \
    /dev/ttyHS0
    class main
    user bluetooth
    group bluetooth net_bt_admin qcom_oncrpc
    disabled
    oneshot
